/* ===================== */
/* Adobe Page*/
/* ===================== */
/* Box Model Hack */
* {
  box-sizing: border-box;
}

:root {

  /* section gap controls the gap below each major section. Increase adds more space */
  --section-gap: 3.125rem;

  /* remove the gap between divs  */
  --slide-gap: -.25rem;

  /* max width */
  --max-width: 1100px;

  --gutter-max: 5rem;

  /* p */
  --fs-2: 1rem;
  /* h1 */
  --fs-8: 2.027rem;
   /* h2 */
  --fs-7: 1.802rem;
  /* h3 */
  --fs-6: 1.602rem;
  /* h4 */
  --fs-5: 1.424rem;
  /* h5 */
  --fs-4: 1.266rem;
  /* h6 */
  --fs-3: 1rem;
  /* captioning */
  --fs-1: .9rem;
}

body {
  font-family: Helvetica, sans-serif;
  color: white;
  font-size: 18px;
  
}

p{
  padding: 0 8rem;
  font-weight: 400;
  word-spacing: 5%;
}
span{
  font-style: italic;
  font-weight: 400;
  color: rgb(88 88 88)
}

.images-section-wrapper{
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 clamp(
    var(--gutter-min),
    5vw,
    var(--gutter-max)
  );
}

html {
    background-color: black; 
}

img {
  width: 100%;
  height: auto;
}
.intro-gif{
  margin-bottom: var(--section-gap);
}
.intro-text .text,
.intro-text .graphic{
  margin-bottom: var(--section-gap);
  line-height: 1.5;
}

.intro-text{
  margin-bottom: 9rem;
  line-height: 1.5;
}
.intro-text img{
  padding-bottom: 1.75rem;
  
}

.slide{
  margin-top: var(--slide-gap);
}
.aaa9,
.aaa12,
.aaa15 {
  margin-bottom: var(--section-gap)
}
