/* ===================== */
/* Adobe Page*/
/* ===================== */
/* Box Model Hack */
* {
  box-sizing: border-box;
  /* outline: 1px solid white; */
}

:root {

  /* section gap controls the gap below each major section. Increase adds more space */
  --section-gap: 3.125rem;

  /* remove the gap between divs  */
  --slide-gap: -.25rem;

  /* p */
  --fs-2: 1rem;
  /* h1 */
  --fs-8: 2.027rem;
   /* h2 */
  --fs-7: 1.802rem;
  /* h3 */
  --fs-6: 1.602rem;
  /* h4 */
  --fs-5: 1.424rem;
  /* h5 */
  --fs-4: 1.266rem;
  /* h6 */
  --fs-3: 1rem;
  /* captioning */
  --fs-1: .9rem;
}
.nav-button{
  position: fixed;
  top: 2rem;
  left: 38px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;           /* harmless on <a> */
  display: inline-flex;   /* centers icon without relying on line-height quirks */
  align-items: center;
  justify-content: center;
  text-decoration: none;  /* remove anchor underline */
  cursor: pointer;
  z-index: 1000;
  background-color: rgba(255 255 255 / .35); 
}

.nav-button:hover{
  background-color: rgba(255 255 255/.80);
}

.material-symbols-outlined {
  padding: 12px;
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  /* Your defaults */
  font-size: 32px;
 color: rgba(0 0 0 / .70);
  
  font-variation-settings: 
    'FILL' 0,   /* 0 outline, 1 filled */
    'wght' 700, /* 100–700 */
    'GRAD' 0,
    'opsz' 40;
}
.material-symbols-outlined:hover{
  color: rgba(0 0 0 / .85);
}

body {
  font-family: Helvetica, sans-serif;
  color: white;
}

html {
    background-color: black; 
}

.intro-text{
  margin-bottom: 9rem;
  padding: 0 8rem;
  line-height: 1.5;
}
p{
  width: 100%;
  font-weight: 300;
  word-spacing: 10%;
}

img {
  width: 100%;
  height: auto;
}
.intro-gif{
  margin-bottom: var(--section-gap);
}

.slide{
  margin-top: var(--slide-gap);
}

@media(max-width: 950px){
  .intro-text{
    padding: 0 5rem;
  }
  
}


@media (max-width: 850px){
  .nav-button {
    left: 20px;
  }
  .intro-text {
    padding: 0 3.5rem;
  }
}

@media (max-width: 650px){
  .intro-text {
    padding: 0 1.75rem;
    margin-bottom: 4.5rem;
  }
  p{
    line-height: 1.3;
    
  }
}