/* ===================== */
/*Beans and Brews*/
/* ===================== */
/* Box Model Hack */
* {
  box-sizing: border-box;
}

:root {
  /* section gap controls the gap below each major section. Increase adds more space */
  --section-gap: 5rem;

  /* spacing between graphic elements  */
  --graphic-gap: 1.75rem;

  /* remove the gap between divs  */
  --slide-gap: -.25rem;




  --max-width: 1000px;
  --gutter-min: 2rem;
  --gutter-max: 5rem;
 

  /* p */
  --fs-2: 1.25rem;
  /* h1 */
  --fs-8: 2.027rem;
   /* h2 */
  --fs-7: 1.802rem;
  /* h3 */
  --fs-6: 1.602rem;
  /* h4 */
  --fs-5: 1.424rem;
  /* h5 */
  --fs-4: 1.266rem;
  /* h6 */
  --fs-3: 1rem;
  /* captioning */
  --fs-1: .9rem;
}

body {
  font-family: Helvetica, sans-serif;
}

.site-header{
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.beans-header img{
  display: block;
  width: 100%;
  height: auto;
}

.sub-header-container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.sub-header-container img{
  width: 100%;
  height: auto;
  display: block;

}

.graphic{
margin-bottom: var(--graphic-gap)
}

.beans-header,
.beans-intro,
.beans-logo {
  margin-bottom: var(--section-gap)
}


.beans-logo {
  margin-bottom: var(--section-gap ) 
}

.beans-logo img{
  margin: 0 auto;
  max-width: 225px;
}

.beans-intro p{
  line-height: 1.5;
  font-size: var(--fs-2);
  text-wrap: wrap;
  color: rgb(28 28 28)
  

}

.side-by-side{
  display: grid;
  gap: var(--graphic-gap);

  /* Aspect Ratio 1 (AR1) = .5625 */
  /* Aspect Ratio 2 (AR2) = .8867 */
  grid-template-columns: .8867fr .5625fr;
}

.side-by-side video {
  width: 100%;
  height: auto;
  display: block
}
.sideBySideOrangeBlue{
  display: grid;
  gap: var(--graphic-gap);

  grid-template-columns: .8865fr .8865fr;

}


@media (max-width: 768px){
  :root {
    --graphic-gap: 1rem;
  }
}