/* ===================== */
/*Beans and Brews*/
/* ===================== */
/* Box Model Hack */
* {
  box-sizing: border-box;
}

:root {
  /* section gap controls the gap below each major section. Increase adds more space */
  --section-gap: 5rem;

  /* spacing between graphic elements  */
  --graphic-gap: 1.75rem;

  /* remove the gap between divs  */
  --slide-gap: -.25rem;




  --max-width: 1000px;
  --gutter-min: 2rem;
  --gutter-max: 5rem;
 

  /* p */
  --fs-2: 1rem;
  /* h1 */
  --fs-8: 2.027rem;
   /* h2 */
  --fs-7: 1.802rem;
  /* h3 */
  --fs-6: 1.602rem;
  /* h4 */
  --fs-5: 1.424rem;
  /* h5 */
  --fs-4: 1.266rem;
  /* h6 */
  --fs-3: 1rem;
  /* captioning */
  --fs-1: .9rem;
}

html{
  /* font-size: 18px; */
}
body {
  font-family: Helvetica, sans-serif;
  
}

.site-header{
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}


.beans-header img{
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 clamp(
    var(--gutter-min),
    5vw,
    var(--gutter-max)
  );
}

.container img{
  width: 100%;
  height: auto;
  display: block;

}

.graphic{
margin-bottom: var(--graphic-gap)
}

.beans-header,
.beans-intro,
.beans-logo {
  margin-bottom: var(--section-gap)
}


.beans-logo {
  margin-bottom: var(--section-gap ) 
}



.beans-logo img{
  margin: 0 auto;


  max-width: 225px;
}


.beans-intro p{
  line-height: 2;
  text-wrap: wrap;
}

.sm-md-comps{
  display: flex;
  gap: var(--graphic-gap);
  width: 100%;
  margin-bottom: 0;
}

.side-by-side{
  display: flex;
  gap: var(--graphic-gap);
  margin-bottom: var(--section-gap)
}


/* .quad-matrix{
  display: flex;
  flex-wrap: wrap;
  gap: var(--graphic-gap)
} */
/* .r1,
.r2 {
  width: 100%;
  display: flex;
} */
/* .quad{
  width: 50%;
} */

/* .r1-1,
.r2-1{
  padding-right: .875rem;
}

.r1-2,
.r2-2 {
  padding-left: .875rem;
} */

@media (max-width: 768px){
  :root {
    --graphic-gap: 1rem;
  }
}