/* ===================== */
/* Campbells*/
/* ===================== */
/* Box Model Hack */
* {
  box-sizing: border-box;
}

:root {
  /* section gap controls the gap below each major section. Increase adds more space */
  --section-gap: 5rem;

  /* spacing between graphic elements  */
  --graphic-gap: -.5rem;

  /* remove the gap between divs  */
  --slide-gap: -.25rem;

  --max-width: 1200px;
  --gutter-min: 2rem;
  --gutter-max: 5rem;
 
  /* p */
  --fs-2: 1rem;
  /* h1 */
  --fs-8: 2.027rem;
   /* h2 */
  --fs-7: 1.802rem;
  /* h3 */
  --fs-6: 1.602rem;
  /* h4 */
  --fs-5: 1.424rem;
  /* h5 */
  --fs-4: 1.266rem;
  /* h6 */
  --fs-3: 1rem;
  /* captioning */
  --fs-1: .9rem;
}
 .nav-button{
  position:fixed;
  top: 2rem;
  left: 38px;
  border-radius: 50%;
  border: none;
  background-color: HSLA(255 255 255 / 50%);
  height: 75px;
  width: 75px;
  cursor: pointer;
  
}
.nav-button:hover{
  background-color: HSLA(255 255 255/80%);
}

.material-symbols-outlined {
  padding: 12px;
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  /* Your defaults */
  font-size: 32px;
 color: HSLA(192 100 49 / 80%);
  
  font-variation-settings: 
    'FILL' 0,   /* 0 outline, 1 filled */
    'wght' 700, /* 100–700 */
    'GRAD' 0,
    'opsz' 40;
}
.material-symbols-outlined:hover{
  color: HSLA(192 100 49 / 95%);
}

body {
  font-family: Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;
}

small {
  font-size: var(--fs-1);
  font-style: italic;
  margin: auto;
  margin-top: var(--section-gap);
  display: block;
}

h2{
  display: block;
  font-size: var(--fs-7);
  font-weight: 800;
  margin: auto;
  margin-top: var(--heading-top-gap);
  margin-bottom: var(--heading-bottom-gap);
}

p{
  padding: 0 4rem 0rem 4rem;
  max-width: 950px;
  margin: auto;
  font-size: var(--fs-2);
  line-height: 2;
  margin-bottom: 2rem;
}

.header-graphic {
  width: 100%;
  margin-bottom: var(--section-gap);
  
}
.graphics-container{
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 clamp(
    var(--gutter-min),
    5vw,
    var(--gutter-max)
  );
}

.main-animation{
  display: flex;
  

}
.main-animation video{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.graphic {
  width: 100%;
}
.right{
  padding: 2.5rem 5rem 1rem 1.25rem;
}
.left{
  padding: 2.5rem 1.25rem 1rem 5rem;
}

.side-by-side{
  display: grid;
  justify-content: center;
  gap: var(--graphic-gap);
  grid-template-columns: 1.0526fr 1.0526fr;
}

.bottom{
  padding: 0 5rem 5rem 5rem
}

@media (max-width: 1200px){
  .main-animation video{
    border-top: 1.75px solid black;
    border-bottom: 1.75px solid black;
  }

  .graphics-container{
    padding: 0;
  }
}
@media (max-width: 850px) {
  .header-graphic{
    margin-bottom: 1rem;
  }
  p {
    padding: 1.5rem;
  }
  .main-animation video{
    border-top: 1.25px solid black;
    border-bottom: 1.25px solid black;
  }
}

@media (max-width: 700px) {
  .right{
    padding: 1.5rem 2.5rem .5rem .75rem
  }
  .left{
    padding: 1.5rem .75rem .5rem 2.5rem
  }
  .bottom{ 
    padding: 0 2.5rem 5rem 2.5rem;

  }
}

@media (max-width: 500px) {
  .main-animation video{
    border-top: .5px solid black;
    border-bottom: .5px solid black;
  }
  .right {
    padding: 1rem 2rem .25rem .5rem
  }
  .left {
    padding: 1rem .5rem .25rem 2rem
  }
  .bottom{
    padding: 0 2rem 5rem 2rem;
  }
}