/* ===================== */
/* Campbells*/
/* ===================== */
/* Box Model Hack */
* {
  box-sizing: border-box;
}

:root {
  /* section gap controls the gap below each major section. Increase adds more space */
  --section-gap: 5rem;

  /* spacing between graphic elements  */
  --graphic-gap: -.5rem;

  /* remove the gap between divs  */
  --slide-gap: -.25rem;




  --max-width: 1200px;
  --gutter-min: 2rem;
  --gutter-max: 5rem;
 

  /* p */
  --fs-2: 1rem;
  /* h1 */
  --fs-8: 2.027rem;
   /* h2 */
  --fs-7: 1.802rem;
  /* h3 */
  --fs-6: 1.602rem;
  /* h4 */
  --fs-5: 1.424rem;
  /* h5 */
  --fs-4: 1.266rem;
  /* h6 */
  --fs-3: 1rem;
  /* captioning */
  --fs-1: .9rem;
}

html{
  /* font-size: 18px; */
}
body {
  font-family: Helvetica, sans-serif;
  /* margin: 5%; */
  /* was 10% */
}



html {
    /* background-color: black; */
    
}

img {
  width: 100%;
  height: auto;
}

small {
  font-size: var(--fs-1);
  font-style: italic;
  margin: auto;
  margin-top: var(--section-gap);
  display: block;
}


h2{
  display: block;
  font-size: var(--fs-7);
  font-weight: 800;
  margin: auto;
  margin-top: var(--heading-top-gap);
  margin-bottom: var(--heading-bottom-gap);
}


p{
  padding: 0 4rem 2rem 4rem;
  max-width: 950px;
  margin: auto;
  font-size: var(--fs-2);
  line-height: 2;
  margin-bottom: 2rem;
}

.header-graphic {
  width: 100%;
  margin-bottom: var(--section-gap);
  
}
.graphics-container{
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 clamp(
    var(--gutter-min),
    5vw,
    var(--gutter-max)
  );
}

.main-animation{
  display: flex;
  

}
.main-animation video{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.side-by-side{
  width: 100%;
  display: flex;
  justify-content: center;
}
.graphic {
  width: 50%;
}
.right{
  padding: 2.5rem 5rem 1rem 1.25rem;
}
.left{
  padding: 2.5rem 1.25rem 1rem 5rem;
}

.bottom{
  padding: 0 5rem 5rem 5rem
}

@media (max-width: 1200px){
  .main-animation img{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .graphics-container{
    padding: 0;
  }
}
@media (max-width: 850px) {
  .header-graphic{
    margin-bottom: 1rem;
  }
  p {
    padding: 1.5rem;
  }
}