/* ===================== */
/* Selah and the Spades Page*/
/* ===================== */
/* Box Model Hack */
* {
  box-sizing: border-box;
}

:root {
  /* section gap controls the gap below each major section. Increase adds more space */
  --section-gap: 3.125rem;

  /* remove the gap between divs  */
  --slide-gap: -.25rem;

  /* p */
  --fs-2: 1rem;
  /* h1 */
  --fs-8: 2.027rem;
   /* h2 */
  --fs-7: 1.802rem;
  /* h3 */
  --fs-6: 1.602rem;
  /* h4 */
  --fs-5: 1.424rem;
  /* h5 */
  --fs-4: 1.266rem;
  /* h6 */
  --fs-3: 1rem;
  /* captioning */
  --fs-1: .9rem;
}

body {
  font-family: Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.slide{
  margin-top: var(--slide-gap);
}

.selah2 {
  height: auto;
}

.selah2 p{
  padding: 4rem;
  max-width: 1000px;
  margin: auto;
  font-size: var(--fs-2);
  line-height: 1.5;
}