/* ===================== */
/*The Perfect AI Assistant*/
/* ===================== */
/* Box Model Hack */
* {
  box-sizing: border-box;
}

:root {
  /* section gap controls the gap below each major section. Increase adds more space */
  --section-gap: 5rem;

  /* spacing between graphic elements  */
  --graphic-gap: 1rem;

  /* remove the gap between divs  */
  --slide-gap: -.25rem;




  --max-width: 1200px;
  --gutter-min: 2rem;
  --gutter-max: 5rem;
 

  /* p */
  --fs-2: 1rem;
  /* h1 */
  --fs-8: 2.027rem;
   /* h2 */
  --fs-7: 1.802rem;
  /* h3 */
  --fs-6: 1.602rem;
  /* h4 */
  --fs-5: 1.424rem;
  /* h5 */
  --fs-4: 1.266rem;
  /* h6 */
  --fs-3: 1rem;
  /* captioning */
  --fs-1: .9rem;
}

html{
  /* font-size: 18px; */
  background-color: #FFF;
}
body {
  font-family: Helvetica, sans-serif;
  
}

.site-header{
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}


.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 clamp(
    var(--gutter-min),
    5vw,
    var(--gutter-max)
  );
  
}

.container img{
  width: 100%;
  height: auto;
  display: block;

}

.bottom-graphics {
  display: flex;
  flex-direction: column;
  gap: var(--graphic-gap);
  margin-bottom: 6rem;
}
.graphic{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.row{
  display: flex;
  justify-content: space-between;
  padding-top: 3.5rem;
  
}

.graphic img{
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.left{
padding-left: 1.5rem;
padding-right: 1.5rem;
}

.right{
padding-left: 1.5rem;
padding-right: 1.5rem;
}


@media (max-width: 1300px){
  :root{
    --gutter-min: 1rem;
    --gutter-max: 2.5rem;
  }
}
@media (max-width: 1250px){
  :root{
    --gutter-min: .5rem;
    --gutter-max: 1.25rem;
  }
}

@media (max-width: 1200px){
  :root{
    --gutter-min: 0rem;
    --gutter-max: 0rem;
  }
}